/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #2b5783;
}
.bg-color--subcolor {
  background-color: #d9e021;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
